
@media (min-width: 200px){
    .text-custom{
        padding-left: 15px;
        text-align: center!important
    }

}

@media (min-width: 992px){
    .text-custom{
        text-align: left!important
    }
    
}

.checked {
    color: orange;
}


@media (min-width: 200px){
    .star-fa{
        font-size: 1em;
    }

}

@media (min-width: 992px){
    .star-fa{
        font-size: 2em;
    }
    
}

@media (min-width: 992px){
    .star-text{
        padding-left: 40px;
    }
    
}

